<header class="site-header">
    <div class="container">
    <h1 class="logo"><a href="/tasks">House to-do List</a></h1>
        <nav>
            <a href="/tasks">All Tasks</a>
            <a href="/tasks/new">Add new Task</a>
        </nav>
    </div>
</header>